/*------------room----*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
   .block_premium_standart {
      padding: 0;
   }

   .block_room-img {
      height: 700px;
   }

   .block_room-img h1 {
      font-size: 100px;
      line-height: 100px;
   }

   .block_room-img > span {
      font-size: 14px;
      width: 290px;
   }

   .standart-text {
      display: block;

   }

   .text_big {
      display: block;
      width: 600px;
      font-size: 30px;
      line-height: 30px;
   }

   .text_small {
      display: block;
      margin: 100px 0 0 auto;
   }

   .block_img_standart h1 {
      margin: 0 0 70px 0;
   }

   .block_Superior_twin {
      margin: 200px 0 0 0;
      padding: 0;
   }

   .left_imtText h1 {
      margin: 70px 0 20px 0;
   }

   .left_imtText {
      width: 350px;
   }

   .right_imtText {
      width: 350px;
   }

   .left_imtText span {
      display: block;
      width: 300px;
      font-size: 13px;
      line-height: 23px;
   }

   .right_imtText span {
      font-size: 13px;
      line-height: 23px;
   }

}
@media screen and (max-width: 767px) {
   .main_img_standart {
      display: block;
   }

   .block_room-img {
      background-image: none;
      padding: 0;
      height: 420px;
      margin: 0;
   }

   .block_room-img h1 {
      font-size: 60px;
      line-height: 60px;
      padding: 0;
   }

   .block_room-img > span {
      display: none;
   }

   .block_premium_standart {
      padding: 0;
   }

   .standart-text {
      display: block;
      justify-content: center;
      margin: 0 0 100px 0;
   }

   .text_big {
      width: auto;
      display: block;
      margin: 0 0 50px 0;
      font-size: 23px;
      line-height: 23px;
   }

   .text_small {
      font-size: 13px;
      line-height: 23px;
   }

   .block_img_standart h1 {
      font-size: 35px;
      line-height: normal;
      margin: 0 0 50px 0;
   }

   .standart_img {
      object-position: right;
      height: 425px;
      object-fit: cover;
   }

   .block_Superior_twin {
      margin: 70px 0 0 0;
      padding: 0;
      display: block;
   }

   .left_imtText {
      width: 100%;
   }

   .left_img {
      display: none;
   }

   .left_imtText h1 {
      margin: 70px 0 20px 0;
      font-size: 30px;
      line-height: 30px;
   }

   .left_imtText span {
      font-size: 13px;
      line-height: 23px;
   }

   .right_imtText {
      width: 100%;
   }

   .right_img {
      width: 100%;
      max-width: 400px;
      display: block;

      margin: 50px auto 50px auto;
   }

   .right_imtText span {
      display: block;
      font-size: 13px;
      line-height: 23px;
   }
}